@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Geist+Mono:wght@100..900&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
  --logoBlue: #0093d6;
}

#root {
  padding: 0;
}

@media (min-width: 300px) and (max-width: 600px) {
  .heroImage {
    height: 15rem !important
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.heroImage {
  background-image: url('/images/hero2-optimized.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 30rem;
  /* Add image optimization hints */
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}

.bg-primary-blue {
  background-color: var(--logoBlue);
}